{% extends "base.html" %}

{% block extrahead %}
  <link rel="stylesheet" href="{{ 'assets/stylesheets/custom.css' | url }}"/>

  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ title }}" />
  <meta property="og:description" content="{{ config.site_description }}" />
  <meta property="og:url" content="{{ page.canonical_url }}" />
  <meta property="og:image" content="{{ config.site_url }}{{ 'assets/images/header.png' | url }}" />
  <meta property="og:image:type" content="image/png" />
  <meta property="og:image:width" content="1280" />
  <meta property="og:image:height" content="683" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Physically-Based Lens Flares" />
  <meta name="twitter:description" content="{{ config.site_description }}" />
  <meta name="twitter:image" content="{{ config.site_url }}{{ 'assets/images/header.png' | url }}" />
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ 'assets/javascripts/custom.js' | url }}"></script>
{% endblock %}
