/* overrides */
.md-main__inner {
  display: none;
}

[data-md-color-primary=black] .md-tabs {
  background-color: initial;
  position: absolute;
  top: 2.4rem;
  top: 3.2rem;
}

[data-md-color-primary=black] .md-header {
  background-color: initial;
}

.md-header:not(.md-header--shadow) {
  background-color: initial;
  transition: background-color 125ms, transform 125ms cubic-bezier(0.1, 0.7, 0.1, 1), box-shadow 0ms;
}

.md-content header {
  display: block;
  transition: opacity 0.75s;
}

.md-content__inner {
  margin-bottom: 0;
  padding: 5.2rem 0;
}

.md-typeset {
  color: var(--md-typeset-color);
}
.md-typeset h2 {
  font-weight: 700;
  margin-top: 0.175em;
}
.md-typeset .md-button {
  background-color: #dd2e57;
  border-width: 0;
  color: var(--md-primary-bg-color);
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  background-color: var(--colors-brand3);
  border-radius: 0.25rem;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25), 0 0 0 1px var(--colors-brand4), 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}
.md-typeset .md-button--secondary {
  background-color: initial;
}

button {
  background: none;
  text-decoration: inherit;
  font-family: system-ui;
  font-size: 1rem;
  padding: 1rem 2rem;
}

/* parallax */
.mdx-parallax {
  height: 100vh;
  margin-top: -2.4rem;
  margin-top: -3.2rem;
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior-y: none;
  scroll-behavior: smooth;
  width: 100vw;
}

.mdx-parallax__group {
  background-color: var(--md-default-bg-color);
  color: var(--md-typeset-color);
  display: block;
  position: relative;
  border: 1px solid var(--md-default-bg-color--light);
  border-style: solid none;
}
.mdx-parallax__group:first-child {
  background-color: initial;
  height: 140vh;
}

.mdx-parallax__layer {
  height: max(120vh, 100vw);
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100vw;
}

.mdx-parallax__blend {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), var(--md-default-bg-color));
  bottom: 0;
  height: min(50vh, 50vw);
  top: auto;
  z-index: 3;
}

.mdx-parallax__image {
  display: block;
  height: 100%;
  object-fit: cover;
  object-position: var(--md-image-position, 50%);
  position: absolute;
  width: 100%;
  z-index: -1;
}

/* hero */
.mdx-hero {
  display: block;
  height: inherit;
}

.mdx-hero .mdx-hero__attribution {
  background-color: var(--md-default-bg-color--light);
  border-radius: 0.1rem;
  bottom: -2.4rem;
  color: var(--md-default-fg-color);
  font-size: 0.5rem;
  padding: 0.1rem 0.4rem;
  position: absolute;
  right: 0.8rem;
  transition: color 125ms, background-color 125ms;
}

.mdx-hero__more {
  bottom: -2.4rem;
  display: block;
  left: 50%;
  margin-left: -0.6rem;
  pointer-events: none;
  position: absolute;
  text-align: center;
}
.mdx-hero__more svg {
  fill: #fff;
  height: 1.2rem;
  width: 1.2rem;
}

.mdx-hero__teaser {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  margin: 0 0.8rem 6rem;
  max-width: 24rem;
}
.mdx-hero__teaser :not(.md-button) {
  text-shadow: 0 0 0.2rem rgba(33, 29, 45, 0.8);
}
.mdx-hero__teaser h1 {
  color: var(--md-typeset-color);
  font-size: 2rem;
  font-weight: 400;
}

.mdx-hero__inner {
  bottom: 6rem;
  display: block;
  position: absolute;
  transition: transform 0.4s cubic-bezier(0.1, 0.7, 0.1, 1), opacity 0.25s;
  width: 100%;
}

.mdx-hero__scrollwrap {
  height: 100vh;
  margin-bottom: -100vh;
  position: sticky;
  top: 0;
}

.mdx-hero__video {
  height: 100vh;
  width: 100vw;
  pointer-events: none;
  z-index: -1;
}
.mdx-hero__video video {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/* expect */
.mdx-expect {
  margin: 2.4rem 0;
}

.mdx-expect__list {
  display: flex;
  flex-flow: row wrap;
  gap: 1.6rem;
  padding: 0;
}

.mdx-expect__item {
  display: flex;
  flex: 1 0 48%;
  gap: 0.6rem;
  margin: 0;
  transition: transform 0.75s cubic-bezier(0.075, 0.85, 0.175, 1), opacity 0.75s;
}
.mdx-expect__item:first-child {
  transition-delay: 0.2s;
}

.mdx-expect__icon {
  fill: currentcolor;
  background-color: var(--md-default-fg-color--lightest);
  border-radius: 100%;
  flex-shrink: 0;
  height: 2.2rem;
  padding: 0.4rem;
  width: 2.2rem;
}

/* spotlight */
.mdx-spotlight {
  margin: 2em 0;
}

.mdx-spotlight__feature {
  display: flex;
  flex: 1 0 48%;
  flex-flow: row nowrap;
  gap: 3.2rem;
  margin: 0 0 3.2rem;
}
.mdx-spotlight__feature:nth-child(odd) {
  flex-direction: row-reverse;
}
.mdx-spotlight__feature > a {
  display: block;
  flex-shrink: 0;
  transition: transform 0.5s cubic-bezier(0.075, 0.85, 0.175, 1);
}
.mdx-spotlight__feature a > img, .mdx-spotlight__feature figcaption {
  transition: transform 0.75s cubic-bezier(0.075, 0.85, 0.175, 1) 125ms, opacity 0.75s 125ms;
}
.mdx-spotlight__feature a > img {
  border-radius: 0.2rem;
  box-shadow: var(--md-shadow-z2);
  display: block;
  height: auto;
  max-width: 100%;
  width: 25rem;
}
.mdx-spotlight__feature figcaption {
  margin-top: 0.8rem;
}

/*# sourceMappingURL=home.css.map */
